<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctor Details</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background: rgb(255, 255, 255);
            width: 100vw;
            min-height: 100vh;
            padding: 0px;
            margin: 0px;
            display: flex;
            justify-content: center;

        }

        .cont {
            width: 80%;
        }

        h2 {
            font-size: 25px;
        }

        .doc_cont {
            width: 90%;
            background: rgb(209, 209, 209);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 40px;
            flex-wrap: wrap;
        }

        .each_doc {
            width: 250px;
            padding: 20px;
            background: white;
            margin: 15px 20px;
            box-shadow: 7px 9px 9px 0px #00000003;
            transition:0.4s all ease;
            border-radius:7px;
        }

        .each_doc span{
            transition:0.4s all ease;
        }
        
        .each_doc p{
            transition:0.4s all ease;
        }

        .each_doc:hover{
          background:rgb(255, 100, 100)
        }

        .each_doc:hover span{
          background:white
        }

        .each_doc:hover p{
          color:white
        }


        .each_doc * {
            margin: 5px;
        }

        .nm {
            padding: 3px 10px;
            border-radius: 99px;
            background: rgb(200, 200, 200);
            color: rgb(47, 47, 47);
        }

        .del {
            background: rgb(255, 77, 77);
            font-family: 'Poppins', sans-serif;
            color: white;
            border-style: none;
            border-radius: 5px;
            padding: 10px 45px;
            cursor:pointer;
        }
        a{
          text-decoration:none;
          color:unset;
        }
    </style>
</head>


<body>
    <div class="cont">
        <h2>Doctor Details : </h2>
        <div class="doc_cont">
            <% for(var i=0; i < data.length; i++) { %>
            <a href = "/doctors/<%= data[i].id %>"><div class="each_doc">
                <p><b>Name : </b> <span class="nm"><%= data[i].name %></span></p>
            </div>
            </a>
            <% } %>

        </div>
    </div>
</body>

</html>