<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background: rgb(255, 100, 100);
            width: 100vw;
            min-height: 100vh;
            padding: 0px;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .options {
            width: 550px;
            border-radius: 7px;
            padding: 20px 20px;
            min-height: 250px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            background: rgb(255, 255, 255);
            align-items: center;
        }

        .inp {
            font-size: 15px;
            padding: 10px 5px;
            margin: 10px;
            font-family: 'Poppins', sans-serif;
            border-style: none;
            border-radius: 7px;
            background: rgb(235, 235, 235);
        }

        .options a {
            padding: 15px 40px;
            text-decoration: none;
            background: rgb(255, 100, 100);
            color: white;
            border-radius: 7px;
            font-size: 20px;
        }

        .sub {
            background: rgb(100, 185, 255);
            color: white;
        }

        h2 {
            color: white;
        }
    </style>
</head>

<body>
    <h2>Select an option</h2>
    <div class="options">
        <a href="/insert">Insert</a>
        <a href="/doctors">View</a>
    </div>
</body>

</html>